/*
	Landed by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

/* Loader */

	body.landing.is-preload:before {
		display: none;
	}

	body.landing.is-preload:after {
		display: none;
	}